breathe==4.35
commonmark==0.9
recommonmark==0.7
sphinx==7.4.7
sphinx-rtd-theme==2.0.0
sphinx-copybutton==0.5
sphinx_markdown_tables==0.0.17
sphinxcontrib-mermaid==0.9.2
sphinxcontrib-htmlhelp==2.1
sphinxcontrib-jsmath==1.0
nbsphinx==0.9
graphviz==0.20
setuptools-scm==8.1  # 自动从git tag中构建版本
git+https://github.com/Dengda98/PyFMM.git  # 库本身，重新拉取一遍